# Notes on Arty A7 FTDI JTAG connectivity
# (Digilent censored their schematic, lol):
#
# TCK (out) is ADBUS0
# TDI (out) is ADBUS1
# TDO (in)  is ADBUS2
# TMS (out) is ADBUS3
#
# Supply monitoring (in) is on ADBUS4
#
# Reset output is ADBUS6
#
# LED LD9  is connected to bit 0x0800, active-low
# LED LD10 is connected to bit 0x1000, active-low

adapter driver ftdi
adapter speed 5000
ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x00e8 0x60eb

transport select jtag

set _CHIPNAME artix7
jtag newtap artix7 hazard3 -expected-id 0x13631093 -irlen 6

set _TARGETNAME $_CHIPNAME.hazard3
target create $_TARGETNAME riscv -chain-position $_TARGETNAME
riscv set_ir dtmcs 0x32
riscv set_ir dmi 0x33

gdb_report_data_abort enable
init
halt
